.chat-container {
  align-items: flex-end;
  background: #fff;
  box-sizing: border-box;
  padding: 12px 12px 12px 14px;
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-areas:
    'input-area input-area input-area'
    'left-tools . right-tools';
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 32px;
  width: 100%;
  height: auto;
  border: 1px pink solid;
}

.chat-input-area-dangle {
  grid-template-areas: 'left-tools input-area right-tools';
  grid-template-rows: auto;
}

.chat-input-area {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  align-self: center;
  grid-area: input-area;
}

.chat-left-area {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 32px;
  line-height: 32px;
}

.chat-right-area {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  grid-area: right-tools;
  height: 32px;
  line-height: 32px;
}
